# Project exclude paths
/gotham/_build/dev/lib/castore/
/gotham/_build/dev/lib/corsica/
/gotham/_build/dev/lib/cowboy/
/gotham/_build/dev/lib/cowboy_telemetry/
/gotham/_build/dev/lib/cowlib/
/gotham/_build/dev/lib/db_connection/
/gotham/_build/dev/lib/decimal/
/gotham/_build/dev/lib/dns_cluster/
/gotham/_build/dev/lib/ecto/
/gotham/_build/dev/lib/ecto_sql/
/gotham/_build/dev/lib/esbuild/
/gotham/_build/dev/lib/expo/
/gotham/_build/dev/lib/file_system/
/gotham/_build/dev/lib/finch/
/gotham/_build/dev/lib/gettext/
/gotham/_build/dev/lib/hpax/
/gotham/_build/dev/lib/jason/
/gotham/_build/dev/lib/mime/
/gotham/_build/dev/lib/mint/
/gotham/_build/dev/lib/nimble_options/
/gotham/_build/dev/lib/nimble_pool/
/gotham/_build/dev/lib/phoenix/
/gotham/_build/dev/lib/phoenix_ecto/
/gotham/_build/dev/lib/phoenix_html/
/gotham/_build/dev/lib/phoenix_live_dashboard/
/gotham/_build/dev/lib/phoenix_live_reload/
/gotham/_build/dev/lib/phoenix_live_view/
/gotham/_build/dev/lib/phoenix_pubsub/
/gotham/_build/dev/lib/phoenix_template/
/gotham/_build/dev/lib/plug/
/gotham/_build/dev/lib/plug_cowboy/
/gotham/_build/dev/lib/plug_crypto/
/gotham/_build/dev/lib/postgrex/
/gotham/_build/dev/lib/ranch/
/gotham/_build/dev/lib/swoosh/
/gotham/_build/dev/lib/tailwind/
/gotham/_build/dev/lib/telemetry/
/gotham/_build/dev/lib/telemetry_metrics/
/gotham/_build/dev/lib/telemetry_poller/
/gotham/_build/dev/lib/websock/
/gotham/_build/dev/lib/websock_adapter/
/gotham/deps/